# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml
*.iws
*.ipr

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log

*.deb
*.build
*.changes
debian/lib
debian/*.jar
debian/build-stamp
debian/configure-stamp
debian/debian/files
debian/debian/series-utils.debhelper.log
debian/debian/series-utils.substvars
debian/debian/series-utils/
debian/bin/
